<html>
<head>
<style>

h1 {
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
}

</style>
</head>
<body>

<h1>Battle!</h1>
<h2>Sign in to play</h2>

<form action="/names" method="post">
  <label for="name1">
  Player one name:
  <input type="text" name="name1">
  </label>
  <label for="name2">
    Player two name:
  <input type="text" name="name2">
  </label>
  <input type="submit" value="Submit">
</form>
